<div class="main-container">
  <header class="search-bar">
    <h1>Gestión del usuario administrador</h1>
    <button class="buttons" routerLink="/principalPage">Volver</button>
  </header>

  <h2>Bienvenido administrador {{ usuarioActual?.usuario || 'Cargando...' }}, aquí podrás actualizar tus datos</h2>

  <div class="content">
    <h1>Cambio de Contraseña:</h1>

    <label style="margin-left: 30px"> Ingrese su nueva contraseña: </label>
    <input type="password" [(ngModel)]="nuevaContrasena">

    <div style="height: 20px"></div>

    <label style="margin-left: 70px"> Ingrésela nuevamente: </label>
    <input type="password" [(ngModel)]="repetirContrasena">

    <div style="height: 20px"></div>

    <button style="margin-left: 100px" class="buttons" (click)="cambiarContrasena()"> Guardar nueva contraseña </button>

    <div style="height: 50px"></div>

    <button style="margin-left: 800px" routerLink="/login" class="buttons">Cerrar Sesión</button>
  </div>

  <footer class="footer">
    <p>Página municipal de contratos</p>
    <h3>Desarrollado por el Departamento de informática</h3>
  </footer>
</div>
