<div class="main-container">
  <header class="search-bar">
    <h1>Gestionar tu cuenta de usuario: [Nombre del usuario loggeado]</h1>
    <button class="buttons" routerLink="/principalPage">Volver</button>
  </header>

  <div class="content">
    <h1>Cambio de Contraseña</h1>
    <h2>¿Desea realizar el cambio de su contraseña?</h2>

    <label style="margin-left: 30px"> Ingrese su nueva contraseña: </label>
    <input type="text">

    <div style="height: 20px"></div>

    <label style="margin-left: 70px"> Ingresela nuevamente: </label>
    <input type="text">

    <div style="height: 20px"></div>

    <button style="margin-left: 100px" class="buttons"> Guardar nueva contraseña </button>

    <div style="height: 50px"></div>

    <button style="margin-left: 800px" routerLink="/login" class="buttons">Cerrar Sesión</button>

  </div>

  <footer class="footer">
    <p>Footer</p>
    <h3>Este es el pie de página</h3>
  </footer>
</div>
