<h1>Tipos de Documentos</h1>

<div style="display: flex; align-items: center; gap: 150px;">
  <div>
    <label for="opciones" style="margin-right: 10px;">Selecciona una opción:</label>
    <select id="opciones" name="opciones" class="combo-box">
      <option value="opcion1">ID</option>
      <option value="opcion2">Nombre</option>
    </select>
  </div>

  <div>
    <label for="opciones2" style="margin-left: -10px;">Seleccione la siguiente opción:</label>
    <select id="opciones2" name="opciones" class="combo-box">
      <option value="opcion1">De Primero al Último</option>
      <option value="opcion2">De Último al Primero</option>
    </select>
  </div>
  <button class="combo-box">Buscar</button>
</div>

<div style="height: 30px"></div>

<div class="botonesCrud-container">
  <button class="botonesCrud">Crear Tipo de documento</button>
  <button class="botonesCrud">Actualizar Tipo de documento</button>
  <button class="botonesCrud">Eliminar Tipo de documento</button>
</div>


<div style="height: 20px"></div>


<table>
  <thead>
  <tr class="encabezado">
    <td>Selector</td>
    <td>ID</td>
    <td>Nombre</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let TipoDocumento of TiposDeDocumentos; let i = index">
    <input
      type="checkbox"
      [checked]="TipoDocumentoSeleccionado[i]"
      (change)="onCheckboxChange(i)"
    />
    <td>{{ TipoDocumento.id }}</td>
    <td>{{ TipoDocumento.nombre }}</td>
  </tr>
  </tbody>
</table>

















