<div class="container">
  <h2>Gestión de Tipos de Documentos</h2>
  <button class="botonesCrud" (click)="abrirModal('agregar')">Agregar Documento</button>

  <div class="table-container">
    <table>
      <thead class="encabezado">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let documento of tiposDeDocumento">
        <td>{{ documento.id }}</td>
        <td>{{ documento.nombre }}</td>
        <td>
          <button class="botonesCrud" (click)="abrirModal('editar', documento)">Editar</button>
          <button class="botonesCrud" (click)="abrirModal('eliminar', documento)">Eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Agregar -->
<div *ngIf="modalActivo === 'agregar'" class="modal">
  <div class="modal-content">
    <h3>Agregar Tipo de Documento</h3>
    <input class="w-full px-3 py-2 border border-gray-300 rounded-md" [(ngModel)]="nuevoDocumento.nombre" placeholder="Nombre" />
    <div class="modal-actions">
      <button class="boton-crear" (click)="agregarTipoDocumento()">Guardar</button>
      <button class="boton-cancelar" (click)="cerrarModal()">Cancelar</button>
    </div>
  </div>
</div>

<!-- Modal Editar -->
<div *ngIf="modalActivo === 'editar'" class="modal">
  <div class="modal-content">
    <h3>Editar Tipo de Documento</h3>
    <input class="w-full px-3 py-2 border border-gray-300 rounded-md" [(ngModel)]="documentoSeleccionado.nombre" placeholder="Nombre" />
    <div class="modal-actions">
      <button class="boton-crear" (click)="actualizarTipoDocumento()">Guardar</button>
      <button class="boton-cancelar" (click)="cerrarModal()">Cancelar</button>
    </div>
  </div>
</div>

<!-- Modal Eliminar -->
<div *ngIf="modalActivo === 'eliminar'" class="modal">
  <div class="modal-content">
    <h3>¿Estás seguro de eliminar este documento?</h3>
    <div class="modal-actions">
      <button class="boton-crear" (click)="eliminarTipoDocumento()">Sí</button>
      <button class="boton-cancelar" (click)="cerrarModal()">Cancelar</button>
    </div>
  </div>
</div>
