<h1>Representantes</h1>

<div style="display: flex; align-items: center; gap: 150px;">
  <div>
    <label for="opciones" style="margin-right: 10px;">Selecciona una opción:</label>
    <select id="opciones" name="opciones" class="combo-box">
      <option value="opcion1">Rut</option>
      <option value="opcion2">Nombre</option>
      <option value="opcion3">Apellido</option>
      <option value="opcion4">Dirección</option>
      <option value="opcion5">Teléfono</option>
      <option value="opcion6">Correo</option>
    </select>
  </div>

  <div>
    <label for="opciones2" style="margin-right: 10px;">Seleccione la siguiente opción:</label>
    <select id="opciones2" name="opciones" class="combo-box">
      <option value="opcion1">De Primero al Último</option>
      <option value="opcion2">De Último al Primero</option>
    </select>
  </div>
  <button class="combo-box">Buscar</button>
</div>

<div style="height: 20px"></div>


<table>
  <thead>
  <tr class="encabezado">
    <td>RUT</td>
    <td>Nombre</td>
    <td>Apellido</td>
    <td>Dirección</td>
    <td>Teléfono</td>
    <td>Correo</td>
    <td>Acceso</td>
  </tr>

  <tr>
    <td>Mostrando algo 1</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3 </td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 6</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 7</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 8</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 9</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 10</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>


  <tr>
    <td>Mostrando algo 1</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3 </td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 6</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 7</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 8</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 9</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 10</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 1</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3 </td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 6</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 7</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 8</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 9</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 10</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 1</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3 </td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 6</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 7</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 8</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 9</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 10</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 1</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3 </td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 6</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 7</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 8</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 9</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>

  <tr>
    <td>Mostrando algo 10</td>
    <td>Mostrando algo 2</td>
    <td>Mostrando algo 3</td>
    <td>Mostrando algo 4</td>
    <td>Mostrando algo 5</td>
    <td>Mostrando algo 6</td>
  </tr>


  </thead>
</table>

<div style="height: 20px"></div>

<div style="display: flex; justify-content: space-between; width: 100%;">
  <button class="buttons" style="flex: 1; margin-right: 10px;">Página Anterior</button>
  <button class="buttons" style="flex: 1;">Página Siguiente</button>
</div>
