<h1>Representantes</h1>

<div style="display: flex; align-items: center; gap: 150px;">
  <div>
    <label for="campoOrden" style="margin-right: 10px;">Selecciona una opción:</label>
    <select id="campoOrden" [(ngModel)]="campoOrden" class="combo-box">
      <option value="rut">Rut</option>
      <option value="nombre">Nombre</option>
      <option value="apellido">Apellido</option>
    </select>
  </div>

  <div>
    <label for="orden" style="margin-left: -10px;">Seleccione la siguiente opción:</label>
    <select id="orden" [(ngModel)]="orden" class="combo-box">
      <option value="asc">De Primero al Último</option>
      <option value="desc">De Último al Primero</option>
    </select>
  </div>
  <button class="combo-box" (click)="filtrarRepresentantes()">Buscar</button>
</div>

<div style="height: 30px"></div>

<div class="botonesCrud-container">
  <button class="botonesCrud" (click)="abrirModalRepresentantesCrear()">Crear Representante</button>
  <button class="botonesCrud" (click)="actualizarRepresentante()">Actualizar Representante</button>
  <button class="botonesCrud" (click)="eliminarRepresentante()">Eliminar Representante</button>
</div>


<div style="height: 20px"></div>


<table>
  <thead>
  <tr class="encabezado">
    <td>Selector</td>
    <td>ID</td>
    <td>RUT</td>
    <td>Nombre</td>
    <td>Apellido</td>
    <td>Teléfono</td>
    <td>Correo</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let representante of representantes; let i = index">
    <td class="px-4 py-2">
      <input
        type="checkbox"
        [checked]="representanteSeleccionado[i]"
        (change)="onCheckboxChange(i)"
      />
    </td>
    <td>{{ representante.id }}</td>
    <td>{{ representante.rut }}</td>
    <td>{{ representante.nombre }}</td>
    <td>{{ representante.apellido }}</td>
    <td>{{ representante.telefono }}</td>
    <td>{{ representante.correo }}</td>
  </tr>
  </tbody>
</table>


<div style="height: 50px"></div>

<div style="display: flex; justify-content: space-between; width: 100%;">
  <button class="buttons" style="flex: 1; margin-right: 10px;" (click)="gestionPaginas('anterior')">Página Anterior</button>
  <button class="buttons" style="flex: 1;" (click)="gestionPaginas('siguiente')">Página Siguiente</button>
</div>



<!-- ==================================================== MODALES ======================================================-->

<!-- Modal crear-->
<div class="modal" *ngIf="modalAbiertoCrear">
  <div class="modal-content">
    <h2>Crear Representante</h2>

    <label>RUT:</label>
    <input type="text" [(ngModel)]="nuevoRepresentante.rut">

    <label>Nombre:</label>
    <input type="text" [(ngModel)]="nuevoRepresentante.nombre">

    <label>Apellido:</label>
    <input type="text" [(ngModel)]="nuevoRepresentante.apellido">

    <label>Teléfono:</label>
    <input type="text" [(ngModel)]="nuevoRepresentante.telefono">

    <label>Correo:</label>
    <input type="email" [(ngModel)]="nuevoRepresentante.correo">

    <div class="modal-buttons">
      <button class="boton-cancelar" (click)="cerrarModalRepresentantesCrear()">Cancelar</button>
      <button class="boton-crear" (click)="crearRepresentante()">Crear</button>
    </div>
  </div>
</div>


<!-- Modal Actualizar -->
<div *ngIf="showModalEditar" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white p-6 rounded shadow-lg w-1/3">
    <h2 class="text-xl font-bold mb-4">Actualizar Representante</h2>

    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700">RUT</label>
      <input type="text" [(ngModel)]="representanteActual.rut" class="w-full px-3 py-2 border border-gray-300 rounded-md" name="rut" [ngModelOptions]="{standalone: true}" disabled/>
    </div>

    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700">Nombre</label>
      <input type="text" [(ngModel)]="representanteActual.nombre" class="w-full px-3 py-2 border border-gray-300 rounded-md" name="nombre" [ngModelOptions]="{standalone: true}" />
    </div>

    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700">Apellido</label>
      <input type="text" [(ngModel)]="representanteActual.apellido" class="w-full px-3 py-2 border border-gray-300 rounded-md" name="apellido" [ngModelOptions]="{standalone: true}" />
    </div>

    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700">Teléfono</label>
      <input type="text" [(ngModel)]="representanteActual.telefono" class="w-full px-3 py-2 border border-gray-300 rounded-md" name="telefono" [ngModelOptions]="{standalone: true}" />
    </div>

    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700">Correo</label>
      <input type="email" [(ngModel)]="representanteActual.correo" class="w-full px-3 py-2 border border-gray-300 rounded-md" name="correo" [ngModelOptions]="{standalone: true}" />
    </div>

    <div class="flex justify-between mt-4">
      <button class="bg-blue-500 text-white py-2 px-4 rounded" (click)="actualizarElRepresentante()">Actualizar</button>
      <button class="bg-gray-500 text-white py-2 px-4 rounded" (click)="cancelarActualizacion()">Cancelar</button>
    </div>
  </div>
</div>


<!-- Modal para Eliminar Representantes -->
<div *ngIf="modalAbiertoEliminar" class="modal">
  <div class="modal-content">
    <h2>¿Estás seguro de que deseas eliminar los siguientes representantes?</h2>

    <!-- Mostrar los nombres de los representantes a eliminar -->
    <ul>
      <li *ngFor="let representante of representantesParaEliminar">
        Nombre: {{ representante.nombre }} {{ representante.apellido }}
      </li>
    </ul>

    <div class="botones">
      <button type="button" class="buttons" (click)="confirmarEliminacion()">Confirmar</button>
      <button type="button" class="buttons" (click)="cerrarModalEliminar()">Cancelar</button>
    </div>
  </div>
</div>





