<h1>Contratos</h1>

<!-- Filtros y búsqueda -->
<div style="display: flex; align-items: center; gap: 150px;">
  <div>
    <label for="campoOrden" style="margin-right: 10px;">Selecciona una opción:</label>
    <select id="campoOrden" [(ngModel)]="campoOrden" class="combo-box">
      <option value="nombre">Nombre del Contrato</option>
      <option value="fecha_inicio">Fecha de inicio</option>
      <option value="fecha_termino">Fecha de Término</option>
      <option value="proveedor">Proveedor</option>
      <option value="ito">Ito</option>
    </select>
  </div>
  <div>
    <label for="orden" style="margin-right: 10px;">Seleccione la siguiente opción:</label>
    <select id="orden" [(ngModel)]="orden" class="combo-box">
      <option value="asc">De Primero al Último</option>
      <option value="desc">De Último al Primero</option>
    </select>
  </div>
  <button class="combo-box" (click)="filtrarContratos()">Buscar</button>
</div>

<div style="height: 30px"></div>

<div class="botonesCrud-container">
  <button class="botonesCrud" (click)="abrirModalContratoCrear()">Crear Contrato</button>
  <button class="botonesCrud" (click)="actualizarContrato()">Actualizar Contrato</button>
  <button class="botonesCrud" (click)="eliminarContrato()">Eliminar Contrato</button>
</div>

<div style="height: 50px"></div>

<table>
  <thead>
  <tr class="encabezado">
    <td>Seleccionar</td>
    <td>ID</td>
    <td>Nombre del contrato</td>
    <td>Fecha de Inicio</td>
    <td>Fecha de Término</td>
    <td>Proveedor</td>
    <td>Ito</td>
    <td>Estado del Contrato</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contrato of contratos; let i = index">
    <td>
      <input type="checkbox" (change)="onCheckboxChange(i)" [checked]="contratoSeleccionado[i]" />
    </td>
    <td>{{ contrato.id }}</td>
    <td>{{ contrato.nombre }}</td>
    <td>{{ contrato.fecha_inicio }}</td>
    <td>{{ contrato.fecha_termino }}</td>
    <td>{{ contrato.proveedor }}</td>
    <td>{{ contrato.ito }}</td>
    <td [ngClass]="getEstadoContrato(contrato.fecha_termino) === 'Vencido' ? 'estado-vencido' : 'estado-proceso'">
      {{ getEstadoContrato(contrato.fecha_termino) }}
    </td>
  </tr>
  </tbody>
</table>



<div style="height: 50px"></div>

<!-- Paginación -->
<div style="display: flex; justify-content: space-between; width: 100%;">
  <button class="buttons" style="flex: 1; margin-right: 10px; " (click)="gestionPaginas('anterior')">Página Anterior</button>
  <button class="buttons" style="flex: 1;" (click)="gestionPaginas('siguiente')">Página Siguiente</button>
</div>

<!-- ================================================          MODALES          =========================================================================-->

<!-- Modal Crear -->
<div *ngIf="modalAbiertoCrear" class="modal-crear show">
  <div class="modal-crear-content">
    <h2>Crear Contrato</h2>

    <label>Nombre del Contrato:</label>
    <input type="text" [(ngModel)]="nuevoContrato.nombre">

    <label>Fecha de Inicio:</label>
    <input type="date" [(ngModel)]="nuevoContrato.fecha_inicio">

    <label>Fecha de Término:</label>
    <input type="date" [(ngModel)]="nuevoContrato.fecha_termino">

    <label>Proveedor:</label>
    <select [(ngModel)]="nuevoContrato.proveedor">
      <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
        {{ proveedor.razon_social }} - {{ proveedor.rut }}
      </option>
    </select>

    <label>Ito:</label>
    <select [(ngModel)]="nuevoContrato.ito">
      <option *ngFor="let ito of itos" [value]="ito.id">
        {{ ito.nombre }} {{ ito.apellido }} - {{ ito.rut }}
      </option>
    </select>

    <div style="height: 10px"></div>

    <button class="buttons" (click)="crearContrato()">Guardar</button>
    <button class="buttons" (click)="cerrarModalContratoCrear()">Cancelar</button>
  </div>
</div>


<!-- Modal Actualizar Contrato -->
<div *ngIf="showModalEditar" class="modalEditar show">
  <div class="modalEditar-content">
    <span class="cerrarEditar" (click)="cancelarActualizacion()">&times;</span>
    <h2>Actualizar Contrato</h2>

    <div class="modalEditar-body">
      <div class="form-group">
        <label>Nombre del Contrato:</label>
        <input type="text" [(ngModel)]="contratoActual.nombre">
      </div>

      <div class="form-group">
        <label>Fecha de Inicio:</label>
        <input type="date" [(ngModel)]="contratoActual.fecha_inicio">
      </div>

      <div class="form-group">
        <label>Fecha de Término:</label>
        <input type="date" [(ngModel)]="contratoActual.fecha_termino">
      </div>

      <div class="form-group">
        <label>Proveedor Actual:</label>
        <select [(ngModel)]="contratoActual.proveedor">
          <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
            {{ proveedor.razon_social }} - {{ proveedor.rut }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>ITO Actual:</label>
        <select [(ngModel)]="contratoActual.ito">
          <option *ngFor="let ito of itos" [value]="ito.id">
            {{ ito.nombre }} {{ ito.apellido }} - {{ ito.rut }}
          </option>
        </select>
      </div>
    </div>

    <div class="botonesEditar">
      <button class="btn actualizar" (click)="actualizarElContrato()">Actualizar</button>
      <button class="btn cancelar" (click)="cancelarActualizacion()">Cancelar</button>
    </div>
  </div>
</div>

<!-- Modal Eliminar Contrato -->
<div id="modalEliminarContrato" class="modal" [ngClass]="{'show': modalAbiertoEliminar}">
  <div class="modal-content">
    <h2>¿Está seguro de que desea eliminar los siguientes contratos?</h2>

    <!-- Mostrar los nombres de los contratos a eliminar -->
    <ul>
      <li *ngFor="let contrato of contratosAEliminar">
        (Contrato: {{ contrato.nombre }})
      </li>
    </ul>

    <div class="botones">
      <button type="button" (click)="cerrarModalEliminar()">Cancelar</button>
      <button type="button" (click)="confirmarEliminacion()">Confirmar</button>
    </div>
  </div>
</div>




