<h1>Contratos</h1>

<div class="botonesCrud-container">
  <button class="botonesCrud" (click)="abrirModalContratoCrear()">Crear Contrato</button>
  <button class="botonesCrud" (click)="actualizarContrato()">Actualizar Contrato</button>
  <button class="botonesCrud" (click)="eliminarContrato()">Eliminar Contrato</button>
</div>

<table>
  <thead>
  <tr class="encabezado">
    <td>Seleccionar</td>
    <td>ID</td>
    <td>Nombre del contrato</td>
    <td>Fecha de Inicio</td>
    <td>Fecha de Término</td>
    <td>Proveedor</td>
    <td>Ito</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contrato of contratos; let i = index">
    <td>
      <input type="checkbox" (change)="onCheckboxChange(i)" [checked]="contratoSeleccionado[i]" />
    </td>
    <td>{{ contrato.id }}</td>
    <td>{{ contrato.nombre }}</td>
    <td>{{ contrato.fecha_inicio }}</td>
    <td>{{ contrato.fecha_termino }}</td>
    <td>{{ contrato.proveedor }}</td>
    <td>{{ contrato.ito }}</td>
  </tr>
  </tbody>
</table>

<!-- ================================================          MODALES          =========================================================================-->

<!-- Modal Crear -->
<div *ngIf="modalAbiertoCrear" class="modal show">
  <div class="modal-content">
    <span class="cerrar" (click)="cerrarModalContratoCrear()">&times;</span>
    <h2>Crear Contrato</h2>
    <label>Nombre del Contrato:</label>
    <input type="text" [(ngModel)]="nuevoContrato.nombre">
    <label>Fecha de Inicio:</label>
    <input type="date" [(ngModel)]="nuevoContrato.fecha_inicio">
    <label>Fecha de Término:</label>
    <input type="date" [(ngModel)]="nuevoContrato.fecha_termino">
    <label>Proveedor:</label>
    <input type="text" [(ngModel)]="nuevoContrato.proveedor">
    <label>Ito:</label>
    <input type="text" [(ngModel)]="nuevoContrato.ito">

    <button (click)="crearContrato()">Guardar</button>
    <button (click)="cerrarModalContratoCrear()">Cancelar</button>
  </div>
</div>

<!-- Modal Actualizar Contrato -->
<div *ngIf="showModalEditar" class="modal show">
  <div class="modal-content">
    <span class="cerrar" (click)="cancelarActualizacion()">&times;</span>
    <h2>Actualizar Contrato</h2>
    <label>Nombre del Contrato:</label>
    <input [(ngModel)]="contratoActual.nombre">

    <label>Fecha de Inicio:</label>
    <input type="date" [(ngModel)]="contratoActual.fecha_inicio">

    <label>Fecha de Término:</label>
    <input type="date" [(ngModel)]="contratoActual.fecha_termino">

    <label>Proveedor:</label>
    <input [(ngModel)]="contratoActual.proveedor">

    <label>Ito:</label>
    <input [(ngModel)]="contratoActual.ito">

    <button (click)="actualizarElContrato()">Actualizar</button>
    <button (click)="cancelarActualizacion()">Cancelar</button>
  </div>
</div>

<!-- Modal Eliminar Contrato -->
<div id="modalEliminarContrato" class="modal" [ngClass]="{'show': modalAbiertoEliminar}">
  <div class="modal-content">
    <span class="cerrar" (click)="cerrarModalEliminar()">&times;</span>
    <h2>¿Está seguro de que desea eliminar los siguientes contratos?</h2>

    <ul>
       (ID: {{ idsContratosEliminar }})
    </ul>

    <div class="botones">
      <button type="button" (click)="cerrarModalEliminar()">Cancelar</button>
      <button type="button" (click)="confirmarEliminacion()">Confirmar</button>
    </div>
  </div>
</div>


