<app-enviar-correo [enviarCorreoFn]="enviarCorreo"></app-enviar-correo>

<div class="tabla-usuarios">
  <h1>Gestionar Usuarios</h1>

  <!-- Botones de acción -->
  <div class="botones-usuarios">
    <button (click)="openModal()">Crear Usuario</button>
    <button (click)="actualizarUsuario()">Actualizar un usuario</button>
    <button class="btn btn-danger" (click)="abrirModalEliminar()">Borrar un Usuario</button>
  </div>

  <!-- Tabla para mostrar usuarios -->
  <div class="tabla-contenedor">
    <table *ngIf="usuarios.length > 0">
      <thead>
      <tr>
        <th>Seleccionar</th>
        <th>ID</th>
        <th>Usuario</th>
        <th>RUT</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Rol</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of usuarios; let i = index">
        <td>
          <input type="checkbox" (change)="onCheckboxChange(i)" [checked]="usuarioSeleccionado[i]">
        </td>
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.usuario }}</td>
        <td>{{ usuario.rut }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.correo }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.rol }}</td>
      </tr>
      </tbody>
    </table>
    <p *ngIf="usuarios.length === 0" class="mensaje-sin-usuarios">
      No se han encontrado usuarios.
    </p>
  </div>
</div>






<!-- =========================================== MODALES ================================================== -->

<!-- Modal de crear usuario -->
<div class="modal" tabindex="-1" [ngClass]="{ 'show': showModal }" [ngStyle]="{ display: showModal ? 'block' : 'none' }">
  <div class="modal-dialog">
    <div class="modal-content custom-modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="modalTitulo">Crear Nuevo Usuario</h5>
        <button type="button" class="btn-close custom-btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body custom-modal-body">
        <form>
          <div class="mb-3">
            <label for="usuario" class="form-label">Usuario: </label>
            <input type="text" class="form-control" id="usuario" [(ngModel)]="nuevoUsuario.usuario" name="usuario" />
          </div>

          <div style="height: 20px"></div>

          <div class="mb-3">
            <label for="contrasena" class="form-label">Contraseña: </label>
            <input type="password" class="form-control" id="contrasena" [(ngModel)]="nuevoUsuario.contrasena" name="contrasena" />
          </div>

          <div style="height: 20px"></div>

          <div class="mb-3">
            <label for="rut" class="form-label">RUT: </label>
            <input type="text" class="form-control" id="rut" [(ngModel)]="nuevoUsuario.rut" name="rut" />
          </div>

          <div style="height: 20px"></div>

          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre: </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoUsuario.nombre" name="nombre" />
          </div>

          <div style="height: 20px"></div>

          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido: </label>
            <input type="text" class="form-control" id="apellido" [(ngModel)]="nuevoUsuario.apellido" name="apellido" />
          </div>

          <div style="height: 20px"></div>

          <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono: </label>
            <input type="text" class="form-control" id="telefono" [(ngModel)]="nuevoUsuario.telefono" name="telefono" />
          </div>

          <div style="height: 20px"></div>

          <div class="mb-3">
            <label for="correo" class="form-label">Correo: </label>
            <input type="email" class="form-control" id="correo" [(ngModel)]="nuevoUsuario.correo" name="correo" />
          </div>

          <div style="height: 20px"></div>

          <div class="mb-3">
            <label for="rol" class="form-label">Rol: </label>
            <select class="form-select" id="rol" [(ngModel)]="nuevoUsuario.rol" name="rol">
              <option value="1">Administrador</option>
              <option value="2">Usuario</option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer custom-modal-footer">
        <button type="button" class="btn custom-btn-cancel" (click)="closeModal()">Cancelar</button>
        <button type="button" class="btn custom-btn-create" (click)="enviarCorreo()">Crear</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para ingresar el código de verificación -->
<div class="modal" tabindex="-1" [ngClass]="{ 'show': showModalCodigo }" [ngStyle]="{ display: showModalCodigo ? 'block' : 'none' }">
  <div class="modal-dialog">
    <div class="modal-content custom-modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="modalTitulo">Introduzca el código de creación</h5>
        <button type="button" class="btn-close custom-btn-close" aria-label="Close" (click)="closeModalCodigo()"></button>
      </div>
      <div class="modal-body custom-modal-body">
        <form>
          <div class="mb-3">
            <label for="codigo" class="form-label">Código de verificación: </label>
            <input type="text" class="form-control" id="codigo" [(ngModel)]="codigoIngresado" name="codigo" />
          </div>
        </form>
      </div>
      <div class="modal-footer custom-modal-footer">
        <button type="button" class="btn custom-btn-cancel" (click)="closeModalCodigo()">Cancelar</button>
        <button type="button" class="btn custom-btn-create" (click)="crearUsuario()">Crear Usuario</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Actualizar Usuario -->
<div *ngIf="showModalEditar" class="modal-actualizar">
  <div class="modal-actualizar-dialog">
    <!-- Modal Header -->
    <div class="modal-actualizar-header">
      <h2>Actualizar Usuario</h2>
    </div>

    <!-- Modal Body -->
    <div class="modal-actualizar-body">
      <div class="form-group-actualizar">
        <label>Usuario:</label>
        <input [(ngModel)]="usuarioDetalle.usuario" type="text" class="form-control">
      </div>

      <div class="form-group-actualizar">
        <label>RUT:</label>
        <input [(ngModel)]="usuarioDetalle.rut" type="text" class="form-control">
      </div>

      <div class="form-group-actualizar">
        <label>Nombre:</label>
        <input [(ngModel)]="usuarioDetalle.nombre" type="text" class="form-control">
      </div>

      <div class="form-group-actualizar">
        <label>Apellido:</label>
        <input [(ngModel)]="usuarioDetalle.apellido" type="text" class="form-control">
      </div>

      <div class="form-group-actualizar">
        <label>Teléfono:</label>
        <input [(ngModel)]="usuarioDetalle.telefono" type="tel" class="form-control">
      </div>

      <div class="form-group-actualizar">
        <label>Correo:</label>
        <input [(ngModel)]="usuarioDetalle.correo" type="email" class="form-control">
      </div>

      <div class="form-group-actualizar">
        <label>Rol:</label>
        <input [(ngModel)]="usuarioDetalle.rol" type="text" class="form-control">
      </div>
    </div>

    <!-- Modal Footer -->
    <div class="modal-actualizar-footer">
      <button class="btn-actualizar-primary" (click)="actualizarElUsuario()">Actualizar</button>
      <button class="btn-actualizar-secondary" (click)="cancelarActualizacion()">Cancelar</button>
    </div>
  </div>
</div>





<!-- Primer modal para ingresar el ID -->
<div
  class="modal"
  *ngIf="mostrarPrimerModalEliminar"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Usuario</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalEliminar()"></button>
      </div>
      <div class="modal-body">
        <p>Ingrese el ID del usuario que desea eliminar:</p>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="usuarioSeleccionado"
        />
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="cerrarModalEliminar()">Cancelar</button>
        <button class="btn btn-primary" (click)="validarUsuarioEliminar()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Segundo modal para confirmar la eliminación -->
<div
  class="modal"
  *ngIf="mostrarSegundoModalEliminar"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalEliminar()"></button>
      </div>
      <div class="modal-body">
        <p>
          ¿Está seguro de querer eliminar al usuario con ID:
          <strong>{{ usuarioSeleccionado }}</strong>?
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="cerrarModalEliminar()">Cancelar</button>
        <button class="btn btn-danger" (click)="confirmarEliminarUsuario()">Eliminar Usuario</button>
      </div>
    </div>
  </div>
</div>





