<h1>Documentos</h1>

<div class="botonesCrud-container">
  <button class="botonesCrud" (click)="abrirModalDocumentosCrear()">Crear Documento</button>
  <button class="botonesCrud" (click)="actualizarDocumento()">Actualizar Documento</button>
  <button class="botonesCrud" (click)="eliminarDocumento()">Eliminar Documento</button>
</div>

<div style="height: 30px"></div>

<table>
  <thead>
  <tr class="encabezado">
    <td>Selector</td>
    <td>ID</td>
    <td>Nombre</td>
    <td>Fecha de Subida</td>
    <td>Hora de Subida</td>
    <td>Tipo de documento</td>
    <td>Contrato al que está vinculado</td>
    <td>Acceso</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let documento of documentos; let i = index">
    <td>
      <input type="checkbox" [checked]="documentoSeleccionado[i]" (change)="onCheckboxChange(i)" />
    </td>
    <td>{{ documento.id }}</td>
    <td>{{ documento.nombre }}</td>
    <td>{{ documento.fecha_subida }}</td>
    <td>{{ documento.hora_subida }}</td>
    <td>{{ documento.tipo_documento }}</td>
    <td>{{ documento.contrato }}</td>
    <td>[Futuro botón de acceso]</td>
  </tr>
  </tbody>
</table>


<!-- ==================================================== MODALES ======================================================-->

<!-- Modal Crear -->
<div class="modal" *ngIf="modalAbiertoCrear">
  <div class="modal-content">
    <h2>Crear Documento</h2>

    <label>Nombre:</label>
    <input type="text" [(ngModel)]="nuevoDocumento.nombre">

    <label>Fecha de Subida:</label>
    <input type="date" [(ngModel)]="nuevoDocumento.fecha_subida">

    <label>Hora de Subida:</label>
    <input type="text" [(ngModel)]="nuevoDocumento.hora_subida">

    <label>Tipo de documento:</label>
    <input type="text" [(ngModel)]="nuevoDocumento.tipo_documento">

    <label>Contrato relacionado:</label>
    <input type="text" [(ngModel)]="nuevoDocumento.contrato">

    <div class="modal-buttons">
      <button (click)="cerrarModalDocumentosCrear()">Cancelar</button>
      <button (click)="crearDocumento()">Crear</button>
    </div>
  </div>
</div>

<!-- Modal Actualizar -->
<div *ngIf="showModalEditar" class="modal">
  <div class="modal-content">
    <h2>Actualizar Documento</h2>

    <label>Nombre:</label>
    <input type="text" [(ngModel)]="nuevoDocumento.nombre">

    <label>Fecha de Subida:</label>
    <input type="date" [(ngModel)]="nuevoDocumento.fecha_subida">

    <label>Hora de Subida:</label>
    <input type="text" [(ngModel)]="nuevoDocumento.hora_subida">

    <label>Tipo de documento:</label>
    <input type="text" [(ngModel)]="nuevoDocumento.tipo_documento">

    <label>Contrato relacionado:</label>
    <input type="text" [(ngModel)]="nuevoDocumento.contrato">

    <div class="modal-buttons">
      <button (click)="cancelarActualizacion()">Cancelar</button>
      <button (click)="actualizarElDocumento()">Actualizar</button>
    </div>
  </div>
</div>

<!-- Modal de eliminación de documentos -->
<div *ngIf="modalAbiertoEliminar" class="modal">
  <div class="modal-content">
    <h3>¿Está seguro que desea eliminar los documentos con los ID: {{ idsParaEliminar }}?</h3>
    <button (click)="confirmarEliminacion()">Confirmar</button>
    <button (click)="cerrarModalEliminar()">Cancelar</button>
  </div>
</div>
