<h1>Itos</h1>

<div style="display: flex; align-items: center; gap: 150px;">
  <div>
    <label for="campoOrden" style="margin-right: 10px;">Selecciona una opción:</label>
    <select id="campoOrden" [(ngModel)]="campoOrden" class="combo-box">
      <option value="rut">Rut</option>
      <option value="nombre">Nombre</option>
      <option value="apellido">Apellido</option>
      <option value="area">Area</option>
    </select>
  </div>

  <div>
    <label for="orden" style="margin-right: 10px;">Seleccione la siguiente opción:</label>
    <select id="orden" [(ngModel)]="orden" class="combo-box">
      <option value="asc">De Primero al Último</option>
      <option value="desc">De Último al Primero</option>
    </select>
  </div>
  <button class="combo-box" (click)="filtrarItos()">Buscar</button>
</div>

<div style="height: 20px"></div>

<div class="botonesCrud-container">
  <button class="botonesCrud" (click)="abrirModalItoCrear()">Crear Ito</button>
  <button class="botonesCrud" (click)="actualizarIto()">Actualizar Ito</button>
  <button class="botonesCrud" (click)="eliminarIto()">Eliminar Ito</button>
</div>

<div style="height: 30px"></div>

<table>
  <thead>
  <tr class="encabezado">
    <td>Selector</td>
    <td>ID</td>
    <td>RUT</td>
    <td>Nombre</td>
    <td>Apellido</td>
    <td>Teléfono</td>
    <td>Correo</td>
    <td>Área</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ito of itos; let i = index">
    <td><input type="checkbox" (change)="onCheckboxChange(i)" [checked]="itoSeleccionado[i]" /></td>
    <td>{{ ito.id }}</td>
    <td>{{ ito.rut }}</td>
    <td>{{ ito.nombre }}</td>
    <td>{{ ito.apellido }}</td>
    <td>{{ ito.telefono }}</td>
    <td>{{ ito.correo }}</td>
    <td>{{ ito.area }}</td> <!-- Ahora muestra el nombre del área -->
  </tr>
  </tbody>
</table>


<div style="height: 50px"></div>

<div style="display: flex; justify-content: space-between; width: 100%;">
  <button class="buttons" style="flex: 1; margin-right: 10px;"(click)="gestionPaginas('anterior')">Página Anterior</button>
  <button class="buttons" style="flex: 1;" (click)="gestionPaginas('siguiente')">Página Siguiente</button>
</div>


<!-- =========================================== MODALES ======================================================= -->

<!-- Modal para Crear ito -->
<div *ngIf="modalAbiertoCrear" class="modal">
  <div class="modal-content">
    <h2>Crear nuevo Ito</h2>
    <label for="rut">RUT:</label>
    <input id="rut" [(ngModel)]="nuevoIto.rut" />
    <label for="nombre">Nombre:</label>
    <input id="nombre" [(ngModel)]="nuevoIto.nombre" />
    <label for="apellido">Apellido:</label>
    <input id="apellido" [(ngModel)]="nuevoIto.apellido" />
    <label for="telefono">Teléfono:</label>
    <input id="telefono" [(ngModel)]="nuevoIto.telefono" />
    <label for="correo">Correo:</label>
    <input id="correo" [(ngModel)]="nuevoIto.correo" />
    <label for="area">Area:</label>
    <input id="area" [(ngModel)]="nuevoIto.area" />
    <div class="modal-buttons">
      <button (click)="crearIto()" class="boton-crear">Crear</button>
      <button (click)="cerrarModalItoCrear()" class="boton-cancelar">Cerrar</button>
    </div>
  </div>
</div>

<!-- Modal para Editar ito -->
<div *ngIf="showModalEditar" class="modal">
  <div class="modal-content">
    <h2>Actualizar Ito</h2>
    <label for="rutEdit">RUT:</label>
    <input id="rutEdit" [(ngModel)]="itoActual.rut" disabled/>
    <label for="nombreEdit">Nombre:</label>
    <input id="nombreEdit" [(ngModel)]="itoActual.nombre" />
    <label for="apellidoEdit">Apellido:</label>
    <input id="apellidoEdit" [(ngModel)]="itoActual.apellido" />
    <label for="telefonoEdit">Teléfono:</label>
    <input id="telefonoEdit" [(ngModel)]="itoActual.telefono" />
    <label for="correoEdit">Correo:</label>
    <input id="correoEdit" [(ngModel)]="itoActual.correo" />
    <label for="areaEdit">Area:</label>
    <input id="areaEdit" [(ngModel)]="itoActual.area" />

    <div class="modal-buttons">
      <button (click)="actualizarElIto()" class="boton-crear">Actualizar</button>
      <button (click)="cancelarActualizacion()" class="boton-cancelar">Cancelar</button>
    </div>
  </div>
</div>

<!-- Modal para Eliminar ito -->
<div *ngIf="modalAbiertoEliminar" class="modal">
  <div class="modal-content">
    <h2>Confirmar Eliminación</h2>
    <p>¿Estás seguro de que deseas eliminar los siguientes ID(s): {{ idsParaEliminar }}?</p>
    <div class="modal-buttons">
      <button (click)="confirmarEliminacion()" class="boton-crear">Confirmar</button>
      <button (click)="cerrarModalEliminar()" class="boton-cancelar">Cancelar</button>
    </div>
  </div>
</div>
