<h1>Itos</h1>

<div style="display: flex; align-items: center; gap: 150px;">
  <div>
    <label for="opciones" style="margin-right: 10px;">Selecciona una opción:</label>
    <select id="opciones" name="opciones" class="combo-box">
      <option value="opcion1">Rut</option>
      <option value="opcion2">Razón Social</option>
      <option value="opcion3">Dirección</option>
      <option value="opcion4">Teléfono</option>
      <option value="opcion5">Correo</option>
      <option value="opcion6">Representante</option>
    </select>
  </div>

  <div>
    <label for="opciones2" style="margin-right: 10px;">Seleccione la siguiente opción:</label>
    <select id="opciones2" name="opciones" class="combo-box">
      <option value="opcion1">De Primero al Último</option>
      <option value="opcion2">De Último al Primero</option>
    </select>
  </div>
  <button class="combo-box">Buscar</button>
</div>

<div style="height: 20px"></div>

<div class="botonesCrud-container">
  <button class="botonesCrud" > Crear Representante</button>
  <button class="botonesCrud"> Actualizar Representante</button>
  <button class="botonesCrud"> Eliminar Representante</button>
</div>

<div style="height: 30px"></div>

<table>
  <thead>
  <tr class="encabezado">
    <td>ID</td>
    <td>RUT</td>
    <td>Nombre</td>
    <td>Apellido</td>
    <td>Teléfono</td>
    <td>Correo</td>
    <td>Area</td>
  </tr>

  <tr *ngFor="let ito of itos; let i = index">
    <td>{{ ito.id }}</td>
    <td>{{ ito.rut}}</td>
    <td>{{ ito.nombre }}</td>
    <td>{{ ito.apellido }}</td>
    <td>{{ ito.telefono }}</td>
    <td>{{ ito.correo }}</td>
    <td>{{ ito.area }}</td>
  </tr>

  </thead>
</table>

<div style="height: 20px"></div>

<div style="display: flex; justify-content: space-between; width: 100%;">
  <button class="buttons" style="flex: 1; margin-right: 10px;">Página Anterior</button>
  <button class="buttons" style="flex: 1;">Página Siguiente</button>
</div>

