<div class="main-container">
  <header class="search-bar">
    <h1>Ajustes de Usuario </h1>
    <button class="buttons" routerLink="/principalPage">Volver Principal</button>
  </header>

  <div class="content">
    <h1>Cambiar imagen de la pestaña principal</h1>

    <label> Ingrese la nueva url de su imagen a elección: </label>
    <input type="text">
    <div style="height: 20px"></div>
    <button style="margin-left: 100px" class="buttons">Guardar nueva imagen</button>

  </div>

  <footer class="footer">
    <p>Footer</p>
    <h3>Este es el pie de página</h3>
  </footer>
</div>

