<h1>Proveedores</h1>

<!-- Filtros y búsqueda -->
<div style="display: flex; align-items: center; gap: 150px;">
  <div>
    <label for="campoOrden" style="margin-right: 10px;">Selecciona una opción:</label>
    <select id="campoOrden" [(ngModel)]="campoOrden" class="combo-box">
      <option value="rut">Rut</option>
      <option value="razon_social">Razón Social</option>
      <option value="direccion">Dirección</option>
      <option value="comuna">Comuna</option>
      <option value="representante">Representante</option>
    </select>
  </div>
  <div>
    <label for="orden" style="margin-right: 10px;">Seleccione la siguiente opción:</label>
    <select id="orden" [(ngModel)]="orden" class="combo-box">
      <option value="asc">De Primero al Último</option>
      <option value="desc">De Último al Primero</option>
    </select>
  </div>
  <button class="combo-box" (click)="filtrarProveedores()">Buscar</button>
</div>

<div style="height: 30px"></div>

<!-- Botones CRUD -->
<div class="botonesCrud-container">
  <button class="botonesCrud" (click)="abrirModalProveedorCrear()">Crear Proveedor</button>
  <button class="botonesCrud" (click)="actualizarProveedor()">Actualizar Proveedor</button>
  <button class="botonesCrud" (click)="eliminarProveedor()">Eliminar Proveedor</button>
</div>

<div style="height: 20px"></div>

<!-- Tabla de Proveedores -->
<table>
  <thead>
  <tr class="encabezado">
    <td>Seleccionar</td>
    <td>ID</td>
    <td>RUT</td>
    <td>Razón Social</td>
    <td>Dirección</td>
    <td>Comuna</td>
    <td>Teléfono</td>
    <td>Correo</td>
    <td>Representante</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let proveedor of proveedores; let i = index">
    <td>
      <input type="checkbox" (change)="onCheckboxChange(i)" [checked]="proveedorSeleccionado[i]" />
    </td>
    <td>{{ proveedor.id }}</td>
    <td>{{ proveedor.rut }}</td>
    <td>{{ proveedor.razon_social }}</td>
    <td>{{ proveedor.direccion }}</td>
    <td>{{ proveedor.comuna }}</td>
    <td>{{ proveedor.telefono }}</td>
    <td>{{ proveedor.correo }}</td>
    <td>{{ proveedor.representante }}</td>
  </tr>
  </tbody>
</table>

<div style="height: 50px"></div>

<!-- Paginación -->
<div style="display: flex; justify-content: space-between; width: 100%;">
  <button class="buttons" style="flex: 1; margin-right: 10px;">Página Anterior</button>
  <button class="buttons" style="flex: 1;">Página Siguiente</button>
</div>



<!-- ==================================================== MODALES ======================================================-->

<!-- Modal Crear -->
<div id="modalCrear" class="modal" [ngClass]="{'show': modalAbiertoCrear}">
  <div class="modal-content">
    <span class="cerrar" (click)="cerrarModalProveedorCrear()">&times;</span>
    <h2>Crear Proveedor</h2>
    <!-- Formulario -->
    <label>RUT:</label>
    <input type="text" [(ngModel)]="nuevoProveedor.rut" name="rut" required>

    <label>Razón Social:</label>
    <input type="text" [(ngModel)]="nuevoProveedor.razonSocial" name="razonSocial" required>

    <label>Dirección:</label>
    <input type="text" [(ngModel)]="nuevoProveedor.direccion" name="direccion" required>

    <label>Comuna:</label>
    <input type="text" [(ngModel)]="nuevoProveedor.comuna" name="comuna" required>

    <label>Teléfono:</label>
    <input type="tel" [(ngModel)]="nuevoProveedor.telefono" name="telefono" required>

    <label>Correo:</label>
    <input type="email" [(ngModel)]="nuevoProveedor.correo" name="correo" required>

    <label>Representante:</label>
    <input type="text" [(ngModel)]="nuevoProveedor.representante" name="representante" required>

    <div class="botones">
      <button type="button" (click)="cerrarModalProveedorCrear()">Cancelar</button>
      <button type="submit" (click)="crearProveedor()">Crear Proveedor</button>
    </div>
  </div>
</div>


<!-- Modal Editar -->
<div id="modalEditar" class="modal" [ngClass]="{'show': showModalEditar}">
  <div class="modal-content">
    <span class="cerrar" (click)="actualizarProveedor()">&times;</span>
    <h2>Actualizar Proveedor</h2>
    <form (ngSubmit)="actualizarElProveedor()">
      <label>RUT:</label>
      <input type="text" [(ngModel)]="proveedorActual.rut" name="rut" disabled>

      <label>Razón Social:</label>
      <input type="text" [(ngModel)]="proveedorActual.razon_social" name="razon_social" required>

      <label>Dirección:</label>
      <input type="text" [(ngModel)]="proveedorActual.direccion" name="direccion" required>

      <label>Comuna:</label>
      <input type="text" [(ngModel)]="proveedorActual.comuna" name="comuna" required>

      <label>Teléfono:</label>
      <input type="tel" [(ngModel)]="proveedorActual.telefono" name="telefono" required>

      <label>Correo:</label>
      <input type="email" [(ngModel)]="proveedorActual.correo" name="correo" required>

      <label>Representante:</label>
      <input type="text" [(ngModel)]="proveedorActual.representante" name="representante" required>

      <div class="botones">
        <button type="button" (click)="cancelarActualizacion()">Cancelar</button>
        <button type="submit" (click)="actualizarElProveedor()">Actualizar Proveedor</button>
      </div>
    </form>
  </div>
</div>


<!-- Modal Eliminar -->
<div id="modalEliminar" class="modal" [ngClass]="{'show': modalAbiertoEliminar}">
  <div class="modal-content">
    <span class="cerrar" (click)="eliminarProveedor()">&times;</span>
    <h2>¿Estás seguro de que deseas eliminar los siguientes proveedores?</h2>
    <p>{{ idsProveedoresEliminar }}</p>
    <div class="botones">
      <button type="button" (click)="cerrarModalEliminar()">Cancelar</button>
      <button type="button" (click)="confirmarEliminacion()">Confirmar</button>
    </div>
  </div>
</div>
