table {
  border: 1px solid black;
  border-collapse: collapse; /* Para que no haya un dobles borde*/
  margin: auto;
}

td, th {
  border: 1px solid black;
  padding: 8px; /* Espaciado dentro de las celdas */
  text-align: center; /* Alineación del texto */
  font-family: 'Times New Roman', Times, serif;
}

.encabezado{
  background-color: #208C3B;
  color: #FFD700;
  font-weight: bold;
}

.buttons {
  display: block;
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  margin-bottom: 10px; /* Espaciado inferior */
  padding: 10px 15px; /* Ajustar el padding para más espacio */
  text-align: center; /* Centrar el texto */
  font-family: 'Arial', sans-serif; /* Fuente sencilla y profesional */
  font-size: 14px; /* Tamaño del texto */
  font-weight: bold; /* Texto más visible */
  background-color: #FFD700; /* Fondo amarillo dorado */
  color: #000000; /* Texto negro */
  border: none; /* Sin bordes */
  border-radius: 20px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease, color 0.3s ease; /* Suavidad en los cambios de color */
}

.hover {
  background-color: #FFFACD; /* Fondo amarillo suave al pasar el mouse */
  color: #2E8B57; /* Texto verde oscuro en hover */
}
