<div class="main-container">
  <header class="search-bar">
    <h1>Notificaciones</h1>
    <button class="buttons" routerLink="/principalPageUsers">Volver Principal</button>
  </header>

  <div class="content">
    <h2>Estos son los contratos más próximos a vencer:</h2>

    <div class="table-container">
      <table>
        <thead>
        <tr class="encabezado">
          <th>Nombre del contrato</th>
          <th>Fecha de Inicio</th>
          <th>Fecha de Término</th>
          <th>Proveedor</th>
          <th>Ito</th>
          <th>Tiempo restante del Contrato</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contrato of contratos">
          <td>{{ contrato.nombre }}</td>
          <td>{{ contrato.fecha_inicio }}</td>
          <td>{{ contrato.fecha_termino }}</td>
          <td>{{ contrato.proveedor }}</td>
          <td>{{ contrato.ito }}</td>
          <td>{{ contrato.diasRestantes }} días</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <footer class="footer">
    <p>Página municipal de contratos</p>
    <h3>Desarrollado por el Departamento de informática</h3>
  </footer>
</div>
